/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2017, 5:49:43 PM
    Author     : root
*/

.header {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color: #a498a6;
    vertical-align: middle;
    line-height: 80px;
    height: 75px;
    align-content: center;
    text-align: center;
    margin-right: -8px;
    margin-top: -8px;
    margin-left: -8px;
    box-shadow: 4px 4px 4px #888888;
    position: relative;
}

#banner {
    position: relative;
}

#bannerimg {
    position: absolute;
    z-index: 10;
    top: 5px;
    margin-left: -3px;
    width: 200px;
    height: 60px;
}

#logout {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    float: right;
}

#rolecheck {
    float:right;
}

#title {
    position: relative;
    display: inline-block;
}


.vertical-menu {
    width: 200px;
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: -8px;
    
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: maroon;
    color: white;
}

.textboxLarge {
    height:200px;
    font-size:14pt;
}

#text {
   
    right: 30px;
    font-size: 25px;
    margin-left: 40px; 
    
}

#Textaline {
    
    text-align: center;

}

.ModuleTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    position: relative;
    margin-left:20%;
}

.ModuleTable td, ModuleTable th {
    border: 1px solid #ddd;
    padding: 5px;
}

.ModuleTable tr:nth-child(even){background-color: #f2f2f2;}

.ModuleTable tr:hover {background-color: #ddd;}

.ModuleTable th {
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: left;
    background-color: MAROON;
    color: white;
}

.TextFormat {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: center;
}

input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button {
    width: 20%;
    background-color: MAROON;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ccc;
}

.backgroundbox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 60%;
}

#container {
    position: absolute;
    display: inline-block;
    float: left;
}

.wrapper {
    position: relative;
    float: right;
}

.wrapperofwrapper {
    width:80%;
}

#userSearch {
    right: 100px;
    position: relative;
}


.moduleBtn[type=submit], buttons {
    width: 20%;
    background-color: MAROON;
    color: white;
    padding: 0 50px 5px 5px; 
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
ul{ 
  list-style-type: none;
}

#frontQueue, tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
    margin-left: 200%;
}

#frontqueueTH {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #a498a6;
    text-align: center;
    background-color: lightgray;
    padding: 7px;
    margin-left: 200%;
}

